* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

body {
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
  background-size: cover;
  background-color: #18181a;
}

.topnav {
  overflow: hidden;
  background-color: #18181a;
  padding: 10px 0;
  margin-bottom: 80px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 5px;
  font-weight: bold;
}

.banner h6 {
  font-size: 14px;
  font-weight: lighter;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.sidebar {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  display: block;
  margin-bottom: 10px;
  padding: 15px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  
  /* Additional styles for a nicer appearance */
  width: 100%; /* Make the buttons take up the full width */
  background-color: #f2f2f2; /* Set a light background color */
  color: #333; /* Set a dark text color */
}

.sidebar-button:hover {
  background-color: #ccc; /* Darken the background color on hover */
  color: #fff; /* Change the text color on hover */
}



.content {
  background-color: #18181a;
  padding: 0 10px;
  text-align: left;
  color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  max-width: 800px;
}

.footer {
  background-color: #18181a;
  padding: 30px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  text-align: center;
}

a:link,
a:visited {
  color: white;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  background-color: #18181a;
  position: relative;
}

.image-container img {
  max-width: 100%;
  height: auto;
  padding: 0;
  background: none;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-size {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}


.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  position: relative;
}

.image-carousel img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-carousel img.active {
  opacity: 1;
}




.soundcloud-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  background-color: #18181a;
  padding: 10px;
  margin-bottom: 90px;
}

.soundcloud-description {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

/* Styles for smaller screens */
@media (max-width: 600px) {
  .sidebar-container {
    position: relative; /* Change 'fixed' to 'relative' */
    width: 100%;
  }

  .sidebar {
    position: relative; /* Change 'fixed' to 'relative' */
    top: auto; /* Remove 'top' property */
    left: 10px; /* Adjust the value to move the sidebar to the right */
    transform: translateY(0); /* Remove 'transform' property */
    flex-direction: row; /* Change this value to 'row' for horizontal display */
    margin-bottom: 50px;
}
  
  .sidebar-button {
      padding: 10px 15px; /* Adjust the padding values as desired */
  }
    
  }
}
